/* ======================== */
/* 
    Ignore the following styles. They are not important to achieve the effect.
    I'm only using them for looks (overall page background/font styles/centering content).
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
  }
  
  /* ======================== */
  .slides {
    position: relative;
    background: #000;
    height: 100vh;
    overflow: hidden;
  }
  
  .slides::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 10;
    background-color:
      rgba(10, 2, 59, 0.25);
  }
  
  .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    animation: cycle 12s infinite;
  }
  
  .slide-2 {
    animation-delay: 4s;
  }
  
  .slide-3 {
    animation-delay: 8s;
  }

  .slide-4 {
    animation-delay: 8s;
  }รง

  .slide-5 {
    animation-delay: 8s;
  }

  .slide-6 {
    animation-delay: 8s;
  }
  
  .slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @keyframes cycle {
    0% {
      opacity: 0;
    }
  
    10% {
      opacity: 1;
    }
  
    20% {
      opacity: 1;
      transform: scale(1.05);
    }
  
    30% {
      opacity: 0;
      transform: scale(1.05);
    }
  
    100% {
      opacity: 0
    }
  }